@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.container{
    height: 100vh;
    background-color: #13131F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 50px;
    font-family: "Anton", sans-serif;
    color: #517aa6;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input {
    border: none;
    outline: none;
    margin-top: 10%;
    width: 70%;
    border-radius: 20px;
    padding: 10px;
    background-color: #e5e8eb;
}
.teclado p {
    font-size: 50px;
    height: 50px;
}
.teclado{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: calc(80% - 50px);
    flex-direction: column;
    gap: 5%;
}
.botao {
    display: flex;
    gap: 3%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.botao button {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
}
.botao img {
    width: 20%;
}
.ligar {
    background-color: rgb(21, 186, 21) !important;
}

.apagar {
    background-color: red !important;
}
.Menu {
    width: 20%;
    background-color: #1c1c2d;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}

.opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.Menu button {
    border: none;
    outline: none;
    width: 35%;
    padding: 2%;
    border-radius: 20px;
    cursor: pointer;
    background-color:#c2c4c6;
    transition: transform 0.5s;
    font-size: 16px;
}

.Menu button:hover {
    background-image: linear-gradient(90deg, rgb(136, 52, 254), rgb(14, 117, 117));
    transform: scale(1.2);
}

.buttonVoltar{
    margin-top: 40px;
    background: transparent !important;
    align-self: start; 
    justify-self: start;
}

.NovoMenu {
    width: 20%;
    background-color: #1c1c2d;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    overflow: auto;
}

.NovoMenu button {
    border: none;
    outline: none;
    width: 35%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #c2c4c6;
}

.containerCampos{
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerCampos button{
    margin-top: 10%;
    border: none;
    outline: none;
    width: 35%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #c2c4c6;
}
.containerInputFiltro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.Contatos {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    margin-top: 10%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
    cursor: pointer;
    overflow-wrap: break-word;
}
.Contatos button{
    background:transparent !important;
}

.Contatos:hover {
    transform: scale(1.1);
} 
.confirmacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.principal{
    align-self: start;
    justify-self: start;
    margin-top: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    input {
        width: 80%;
        border-radius: 20px;
        padding: 10px;
        background-color: #c2c4c6;
    }
    .Teclado {
        margin-bottom: 0;
        height: calc(80% - 60px);
    }

    .botao {
        gap: 5%;
    }

    .Menu h1 {
        display: none;
    }

    .Menu {
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 20%;
        bottom: 0;
        flex-direction: row;
        gap: 25px;
    }

    .Menu button {
        width: 50%;
        padding: 5px 0;
        background-color: transparent;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        color: #c2c4c6;
    }

    .Menu button:hover {
        background-image: none;
        transform: scale(1.0);
    }

    .NovoMenu {
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .NovoMenu button {
        width: 50%;
        padding: 5px 0;
        background-color: transparent;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        color: #0e0101;
        background-color: #c2c4c6;
    }

    .invertColor{
        filter: invert(100%);
    }

    .diminui{
        width: 35%;
    }
    
    .ElementosCriarCtt {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .ElementosCriarCtt button {
        border: none;
        outline: none;
        width: 35%;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #c2c4c6;
    }

    .opcoes button img {
        width: 40%;
        filter: invert(100%);
    }

    .opcoes {
        gap: 25px;
    }

    .opcoes p {
        font-size: 100%;
    }
    .ultimas{
        margin-right: 20px;
    }

    .ultimas button img{
        width: 150%;
    }
    .buttonVoltar{
        width: 25% !important;
    }
    .principal img{
        width: 150% !important;
    }
    .primeiraOp{
        margin-left: 30px;
    }
    
}